body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  background-image: url(https://pa1.aminoapps.com/5740/78bb4bae24938468a6a0b6cbdb7224beae3b7b95_00.gif);
  background-repeat:inherit;
  color:aliceblue
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70vh;
  width: 80vw;
  margin: 20px auto;
  border: 5px solid #ccc;
  max-width: 1600px;
  gap: 50px;
}

.card-poke {
  background-color: rgb(255, 154, 22);
  background-image: url(https://cdn.dribbble.com/users/4025749/screenshots/7319596/media/e8e15b54c947cdc39e9abe93a9080e73.gif);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 250px;
  height: 65vh;
  position: relative;
}

.card {
  background-image: url('https://static.wixstatic.com/media/c335b6_55f99ae8bfa548cebd39551a8db79574~mv2.gif');
  background-size: cover;
  background-position: center;
  width: 110%;
  height: 110%;
}

.image {
  max-width: 70%;
  height: auto;
  margin-top: rem;
}
.name {
  margin-bottom: 0px;
}
.type {
  color:chocolate;
  padding: 0px 10px;
  border-radius: 20px;
}

.card-button {
  background-color: #10eeee; /* Specify your desired color */
  color: #000000; /* Text color */
  border: none;
  padding: 7px 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
 
}

.card-button2 {
  background-color: #eeff00; /* Specify your desired color */
  color: #000000; /* Text color */
  border: none;
  padding: 7px 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
 
}


.electric{
  background-color: yellow;
  border-radius: 10px;
  padding: 7px 20px;
}

.ghost{
  background-color: gray;
  border-radius: 10px;
  padding: 7px 20px;
}

.normal{
  background-color: rgba(240, 243, 240, 0.644);
  border-radius: 10px;
  padding: 7px 20px;
}

.fire{
  background-color: rgb(255, 38, 0);
  border-radius: 10px;
  padding: 7px 20px;
}


.grass{
  background-color: rgb(22, 231, 14);
  border-radius: 10px;
  padding: 7px 20px;
}

.ground{
    background-color: rgb(231, 173, 14);
    border-radius: 10px;
    padding: 7px 20px;
}
