* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}

h1 {
    color: #070707;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.select-control {
    flex: 1;
    margin: 0 10px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: #555;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ecf0f1;
    border: 2px solid #bdc3c7;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    min-height: 200px;
    justify-content: center; 
}

.flex-item {
    background-color: #fd08e8;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin: 5px;
    flex: 1 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.flex-item:hover {
    background-color: #f21414;
    cursor: pointer;
}

.additional-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.grow-control {
    flex: 1;
}

.reset-button {
    background-color: #380bec;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.reset-button:hover {
    background-color: #f21414;
}
