button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.resume-container {
    background-color: white;
    padding: 20px;
    width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border: 2px solid #000;
    position: absolute;
    top: 60px;
    right: 300px;
}

h1, h2 {
    text-align: left;
}

hr {
    margin: 15px 0;
    border: 0;
    height: 1px;
    background: #ccc;
}

.contact-info, .objective, .education, .skills {
    margin-bottom: 15px;
}

.skills ul {
    list-style-type: square;
    padding-left: 20px;
}

